{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-align:center; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	.login {text-align:center;}
</style>



<div class="example-wrapper">
    <h1>Hello! </br>
	Please, sign up or log in to your account.</h1>
</div>

<div>
	<form class="login"; action="/index.php/login">
		<input type="submit" value="Sign in"/>
	</form>
	</br>
	<form class="login"; action="/index.php/register">
		<input type="submit" value="Register"/>
	</form>
</div>




{% endblock %}
