{% extends 'base.html.twig' %}

{% block title %}Clicker Symfony!{% endblock %}

{% block body %}
    <style>
        .center{text-align:center;}
    </style>

    <div align="center">
        <h1>Hello! </br>
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div> </h1>
    </div>




{% endblock %}
